@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 92.4%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

* { scroll-behavior: smooth; }

.header-top { background-color: #D7DDD9; }

.header-top .wrapper { 
  padding: 5px 0 6px;
  display: flex; 
  align-items: center;
  justify-content: flex-end;
}

.career { margin-right: 5px; }

.career a {
  margin-right: 15px;
  color: #6D6C70;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

.career a:hover {
  color: #0483AA;
  transform: .3s ease-in-out;
}

form { 
  border: 1px solid #000;
  display: flex; 
  flex-basis: 17.4%;
  align-items: center;
}

form button { 
  padding: 3px 4px 2px;
  border-style: none;
  align-self: flex-end;
  background-color: transparent;
  color: #6D6C70;
  font-size: 11px;
  outline-style: none;
  text-indent: -9999px; 
}

form button:hover {
  color: #000;
  transition: .3s ease-in-out;
}

form button::before {
  content: "\f002";
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
  transform: rotateY(180deg);
}

.search { flex-basis: 90%; } 

.search input {
  width: 100%;
  padding: 2px 0;
  border-style: none;
  background-color: transparent;
  color: #9F9E9F;
  font-size: 12px;
  outline-style: none;
}

.header-bottom { 
  padding: 21px 0 22px;
  background-color: #3B3A3E; 
}

.header-bottom .wrapper {
  width: 90%;
  display: flex;
  align-items: center;
}

h1 {
  margin-right: 65px;
  flex-basis: 12.7135%;
  text-indent: -9999px;
}

h1 a {
  float: left;
  text-indent: 0;
}

nav a {
  margin-right: 44px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: #0483AA;
  transform: .3s ease-in-out;
}

.hamburger { display: none; }

.hamburger div {
  width: 30px;
  height: 5px;
  margin-bottom: 3px;
  background-color: #0286AF;
  cursor: pointer;
  text-indent: -9999px;
  transition: .3s ease-in-out;
}

.barone { transform: rotate(-45deg) translate(-4px, 4px); }
.bartwo { opacity: 0; }
.barthree { transform: rotate(45deg) translate(-7px, -9px); }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner {
  padding: 84px 0 57px;
  background: url(../images/back4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.banner-content { width: 50%; }

.banner-content h2 {
  margin-bottom: 35px;
  padding: 0 25px;
  font-size: 47px;
  font-weight: bold;
}

.banner-content p { 
  margin-bottom: 25px;
  font-size: 18px; 
}

.banner-content a {
  padding: 11px 21px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.banner-content a:hover {
  border-color: #0483AA;
  color: #0483AA;
  transform: .5s ease-in-out;
}

.approach { padding: 30px 0 93px; }

h3 {
  width: 52%;
  margin: 0 auto 20px;
  color: #3B3A3E;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.approach p { 
  margin-bottom: 67px;
  color: #3B3A3E;
  font-size: 15px;
  text-align: center; 
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider > button {
  border-style: none;
  flex-basis: 5%;
  background-color: transparent;
  text-indent: -9999px;
  outline-style: none;
}

.slider > button::before {
  color: #CFD1D2;
  font-family: fontAwesome;
  font-size: 50px;
  text-indent: 0;
}

.slider > button:first-of-type::before { 
  content: "\f104"; 
  float: left;
}

.slider > button:last-of-type::before { 
  content: "\f105"; 
  float: right;
}

.slider ul {
  display: flex;
  flex-basis: 74%;
  justify-content: space-between;
}

.slider li {
  flex-basis: 23%;
  text-align: center;
}

.slider figure {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 0 auto 32px;
}

.slider span {
  color: #3B3A3E;
  font-weight: bold;
  text-transform: capitalize;
}



/*==================================*/
/*MODAL STARTS*/

.show { display: block; }
.hide { display: none; }

/* The Modal (background) */
.modal {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding-top: 100px; /* Location of the box */
  display: none;  /*Hidden by default*/ 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  width: 50%;
  height: auto;
  max-width:500px;
  margin: 0 auto;
  display: block;
}

/* Add Animation */
.modal-content {
  border-radius: 50%;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  display: block;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  cursor: pointer;
  font-size: 40px;
  transition: 0.3s;
}

.close::before { 
  content: "\f00d"; 
  font-family: fontAwesome;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
}

/*MODAL END*/
/*======================================*/




.blogs { 
  padding: 54px 0 66px;
  background-color: #F2F2F2; 
}

.blogs .wrapper {
  width: 86.4%;
  display: flex;
  justify-content: space-between;
}

.blogs h3 { 
  width: 100%;
  font-size: 28px; 
  text-align: left;
}

.blogs-left,
.blogs-right { flex-basis: 47.85%; }

.blogs ul {
  display: flex;
  flex-direction: column;
}

.blogs a {
  padding: 15px 0;
  border-top: 1px solid #E0DEDE;
  display: block;
  color: #473E3E;
  font-weight: bold;
  font-size: 15px;
}

.blogs a:hover {
  color: #0483AA;
  transform: .5s ease-in-out;
}

.hide { display: none; }

.nload, .mload {
  padding: 5px 10px;
  border: 1px solid #767676;
  border-radius: 3px;
  margin-top: 20px;
  background-color: #767676;
  color: #EDEDEE;
  outline-style: none;
  text-transform: capitalize;
}

.nload:hover, .mload:hover {
  border-color: #0483AA;
  background-color: transparent;
  color: #0483AA;
  transition: .3s ease-in-out;
}

.counter {
  padding: 44px 0 57px;
  background: url(../images/back3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.counter .wrapper { width: 30.3%; }

.counter-content {
  display: flex;
  justify-content: space-between;
}

.counter-left,
.counter-right {
  display: flex;
  flex-basis: 35%;
  flex-direction: column;
  font-weight: bold;
  text-transform: uppercase;
}

.number { font-size: 68px; }
.counter-text { 
  /*width: 80%;*/
  font-size: 15px; 
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-top { 
  padding: 40px 0 30px;
  background-color: #3B3A3E; 
}

.footer-top .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-top .wrapper > h4,
.resources,
.about-us,
.follow-us { flex-basis: 12.7135%;; }

.solutions,
.footer-top .wrapper > h5 { flex-basis: 15%; }

.footer-top li { display: block; }

h5 {
  margin-bottom: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.follow-us h5 { text-transform: capitalize; }

.footer-top a {
  margin-bottom: 14px;
  color: #838384;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

footer a:hover {
  color: #0483AA;;
  transition: .3s ease-in-out;
}

.follow-us li { display: inline-block; }

.follow-us a { 
  text-indent: -9999px; 
}

.follow-us a::before {
  float: left;
  font-size: 19px;
  font-family: fontAwesome;
  text-indent: 0;
}

.follow-us li:first-of-type a::before { content: "\f0e1"; }
.follow-us li:nth-of-type(2) a::before { content: "\f099"; }
.follow-us li:last-of-type a::before { content: "\f09a"; }

.footer-bottom { 
  padding: 15px 0 17px;
  background-color: #302F33;  
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-transform: capitalize;
}

.footer-bottom span { color: #fff; }

.footer-bottom a {
  padding-left: 11px;
  border-left: 1px solid #838384;
  margin-left: 12px;
  color: #838384;
}

.back-to-top {
  padding: 8px 10px;
  border-radius: 10px;
  border-style: none;
  display: none;
  position: fixed;
  bottom: 32px;
  right: 32px;
  color: #EDEDEE;
  background-color: #767676;
  outline-style: none;
  text-align: center;
  text-indent: -9999px;
}

.back-display { display: block; }

.back-to-top::before {
  content: "\f0aa";
  float: left;
  font-family: fontAwesome;
  font-size: 33px;
  text-indent: 0;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

h1 { flex-basis: 16.7%; }

.show { display: block; }

.hamburger { 
  display: block; 
  position: absolute;
  top: 0;
  right: 4%;
  z-index: 5;
}

nav { 
  width: 100%;
  display: block;
  position: absolute;
  top: 8%;
  right: 0;
}

nav ul {
  width: 100%;
  margin-top: 30px;
  display: none;
  text-align: center;
  /*opacity: 0;*/
}

nav li {
  width: 100%;
  border-bottom: 1px solid #000;
  display: block;
}

nav a {
  padding: 10px;
  border-bottom: 1px solid #fff;
  margin: 0;
  display: block;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

nav a:hover { color: #fff; }

.banner-content { width: 80%; }

.navactive { 
  background-color: #fff;
  color: #A0C63F; 
  transition: .3s ease-in-out;
}

.blogs .wrapper { flex-direction: column; }
.blogs-left { margin-bottom: 50px; }

.counter .wrapper { width: 70%; }

}  